@import "tailwindcss";

/* Özel CSS değişkenlerini @theme bloğu içinde tanımlama */
@theme {
  --color-primary: #ab1aa1; /* Mor ton */
  --color-secondary: #170816; /* Koyu mor ton */
}

/* Özel renkleri Tailwind sınıflarında kullanma */
@layer utilities {
  .text-primary {
    color: var(--color-primary);
  }
  .bg-primary {
    background-color: var(--color-primary);
  }
  .text-secondary {
    color: var(--color-secondary);
  }
  .bg-secondary {
    background-color: var(--color-secondary);
  }
  .hover-gradient-text {
    color: white; /* Normal durumda metin beyaz */
  }

  .hover-gradient-text:hover {
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; /* Gradientin görünmesi için metni transparan yapıyoruz */
    background-image: linear-gradient(
      to right,
      #ab47bc,
      #c084fc,
      #3b82f6
    ); /* orange-100, purple-400, blue-400 */
  }
}
@layer base {
  @keyframes sparkle {
    0% {
      opacity: 0;
      transform: scale(0);
    }
    50% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(0);
    }
  }
}
@layer utilities {
  .animate-sparkle {
    animation: sparkle 2s infinite;
  }
  .animation-delay-1000 {
    animation-delay: 1s;
  }
  .animation-delay-2000 {
    animation-delay: 2s;
  }
}
@layer base {
  html {
    background-color: #000;
  }
  @keyframes float {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    100% {
      background-position: 0% 0%;
    }
  }
}
